################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/portfolioapp/obj/Debug
/PortfolioApp/.vs/PortfolioApp
/PortfolioApp/.vscode
/PortfolioApp/node_modules
/PortfolioApp/package-lock.json
