<div class="container" id="profile-details">
  <div class="row">
    <label>{{FirstName + " " + LastName }}</label>
  </div>
  <div class="row">

    <label>Contact : {{Mobile}}</label>
  </div>
  <div class="row">

    <label>Email: {{Email}}</label>
  </div>
  <div class="row">

    <label>City: {{City}}</label>
  </div>
  <div class="row">

    <label>State: {{State}}</label>
  </div>
  <div class="row">

    <label>Country: {{Country}}</label>
  </div>
  <div class="row">
    Links:-
    <ul class="row">
      <li>
        <a href="{{Links[0]}}">LinkedIn</a>

      </li>
      <li>
        <a href="{{Links[0]}}">Medium</a>
      </li>

      <li>
        <a href="{{Links[0]}}">Youtube</a>

      </li>
      <li>
        <a href="{{Links[0]}}">StackOverFlow</a>

      </li>

    </ul>

  </div>
</div>
